react_app/.DS_STORE
react_app/node_modules
react_app/scripts/flow/*/.flowconfig
react_app/.flowconfig
react_app/*~
react_app/*.pyc
react_app/.grunt
react_app/_SpecRunner.html
react_app/__benchmarks__
react_app/build/
react_app/build2/
react_app/remote-repo/
react_app/coverage/
react_app/.module-cache
react_app/fixtures/dom/public/react-dom.js
react_app/fixtures/dom/public/react.js
react_app/test/the-files-to-test.generated.js
react_app/*.log*
react_app/chrome-user-data
react_app/*.sublime-project
react_app/*.sublime-workspace
react_app/.idea
react_app/*.iml
react_app/.vscode
react_app/*.swp
react_app/*.swo

react_app/packages/react-devtools-core/dist
react_app/packages/react-devtools-extensions/chrome/build
react_app/packages/react-devtools-extensions/chrome/*.crx
react_app/packages/react-devtools-extensions/chrome/*.pem
react_app/packages/react-devtools-extensions/firefox/build
react_app/packages/react-devtools-extensions/firefox/*.xpi
react_app/packages/react-devtools-extensions/firefox/*.pem
react_app/packages/react-devtools-extensions/shared/build
react_app/packages/react-devtools-extensions/.tempUserDataDir
react_app/packages/react-devtools-inline/dist
react_app/packages/react-devtools-shell/dist
react_app/packages/react-devtools-scheduling-profiler/dist